* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #eff3f6;
    display: grid;
    place-items: center;
}



section { /*Main container of reviews*/
    margin-top: 50px;
    text-align: center;
    padding: 1rem 2rem;
}

section .tittle { /*Section with the title of web*/
    color: hsl(208.8deg 60.98% 16.08%);
    font-size: 2rem;
}

section .underline { /*Underline to decorate*/
    background-color:hsl(205.13deg 78.43% 60%);
    height: 0.25rem;
    width: 5rem;
    margin: 10px auto;
    margin-bottom: 50px;
}

.review { /*Class container to contain styles of reviews*/
    box-shadow: 0 5px 15px grey;
    border-radius: 10px;
    padding: 1.5rem 2rem;
    text-align: center;
    transition: all 0.3s linear;
    line-height: 1.5;
    background-color: white;
}

.img-container { /*Container the image*/
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0px auto;
}

.img-container::before { /*Circle behind of the images-reviews*/
    content: "";
    width: 155px;
    height: 150px;
    top: -0.25rem;
    position: absolute;
    background: hsl(205.13deg 78.43% 60%);
    border-radius: 50%;
}

#person-img { /*ID from the images:*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

section #author { /*Name of the persons reviews*/
    display: block;
    letter-spacing: 10px;
    color: darkblue;
}

section #job { /*Job of the persons*/
    display: block;
    color: hsl(205, 78%, 60%);
    font-weight: 550;
    margin: 5px 0;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

section .info { 
    width: 350px;
    font-size: 16px;
    line-height: 1.5;
    color: rebeccapurple;
}

.btn-container {
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev-btn {
    margin-right: 9px;
    background-color: transparent;
    border: none;
}

.next-btn {
    background-color: transparent;
    border: none;
}

.gg-push-chevron-left {
    color: #4eb5fe;
}

.gg-push-chevron-right {
    color: #4eb5fe;
}

.random-btn {
    padding: 0.30rem;
    border-radius: 10px;
    border: 2px rgb(92, 180, 247) solid;
    background-color: white;
    transition: background 0.4s linear;
}

.random-btn:hover {
    background-color: rgb(116, 170, 251);
}


